// Global.scss
// This file is used to override global tags

@import './variables.scss';
@import './mixins/typography.scss';
body {
    @include primary-base();
    font-size: 16px;
    // background: linear-gradient(90deg, #E7B8F0, #CFBDF3);
    background: $color-grey-white;
    color: $color-purple;
}

h1 {
    font-weight: bold;
    @include text-h1();
}

h2 {
    font-weight: bold;
    @include text-h2();
}

h3 {
    font-weight: bold;
    @include text-h3();
}

h4 {
    font-weight: bold;
    @include text-h4();
}

a {
    @include text-h5();
    color: $color-purple;
}

input {
    border: 0.1rem solid #d1d1d1;
    border-radius: .4rem;
    box-shadow: none;
    box-sizing: inherit;
}

section{
    margin-bottom: 13rem;

    @include media-breakpoint-down(sm) {
      margin-bottom: 8rem;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 10rem;
    }
}

a:link,
a:visited {
    color: $color-purple;
}

a:hover,
a:active {
    text-decoration: none;
    color: $color-light-purple;
    transition: 0.3s;
}

/* CUSTOM CHECKBOX */
/* Customize the label (the container) */
.checkbox-container {
    display: inline-block;
    position: relative;
  
    cursor: pointer;
    font-size: 1rem;
    line-height: 2.1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 5px;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    /* position: absolute;
      top: 0;
      left: 0; */
    z-index: -1;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    background-color: #f6fbfe;
    border: 1px solid #472b7a;
    color: #472b7a;
    padding: 0.6rem 1.08rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox-container:hover input ~ .checkmark {
    background-color: #332153;
    border-color: #332153;
    color: #fff;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    background-color: #472b7a;
    border-color: #472b7a;
    color: #fff;
    box-shadow: 4px 4px 16px -5px #8c8c8c;
  }
  