// Global.scss
// This file is used to override global tags

@import './mixins/typography.scss';
body {
    @include text-body-sm();
    // background: linear-gradient(90deg, #E7B8F0, #CFBDF3);
    color: $color-purple;
}

h1 {
    font-weight: bold;
    @include text-h1();
}

h2 {
    font-weight: bold;
    @include text-h2();
}

h3 {
    font-weight: bold;
    @include text-h3();
}

h4 {
    font-weight: bold;
    @include text-h4();
}

body {
    @include text-body-sm();
    background: $color-grey-white;
    color: $color-purple;
}

input {
    border: 0.1rem solid #d1d1d1;
    border-radius: .4rem;
    box-shadow: none;
    box-sizing: inherit;
}