// ========== GRAD SHOW COLORS ==========
// Base colors
$color-purple: #472b7a;
$color-black: #3E3E3E;
$color-grey: #E5E5E5;
$color-white: #fff;
$color-grey-white: #F6FBFE;

// ========== Iridescence colors

// Student background colors 
$color-light-purple: #C1A2FC;
$color-light-green: #D1FFE3;
$color-light-pink: #FDDFFF;
$color-light-blue: #C9F0FF;
$color-light-yellow: #F1FFC2;

// Dark colors
$color-dark-pink: #FBBACE;
$color-dark-blue: #78AAE2;
$color-dark-purple: #332153;